<div class="column is-centered center">
  <div class="box column is-one-third ">
    <h1 class="title has-text-centered f1">Typing Challenge</h1>
    <p class="has-text-centered f2">
      <span
        [class]="compare(letter, enteredText[i])"
        *ngFor="let letter of randomText.split(''); let i = index"
        >{{ letter }}</span
      >
    </p>
    <div class="field f2">
      <input class="input" (input)="onInput($event.target.value)" type="#" />
    </div>
    <div
      style="margin-top: 15px;"
      *ngIf="randomText === enteredText"
      class="box has-text-centered"
    >
      <h1 class="title f1 has-text-success">Success!</h1>
    </div>
  </div>
</div>
